<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Item</title>
</head>
<body>
    <a href="/dashboard">Home</a>
    <a href="/logout">Logout</a>
    <h1>Create a new list item</h1><br><br>
    <form action = '/data' method = 'post'>
        {% csrf_token %}
        Item/Prodcut: <input type = 'text' name = 'item'> <br>
        <input type='submit' value='Add'>
    </form>
</body>
</html>